<h5>Search Results for <%= @search_query %>:</h5>
<ul>
<% for result in @search_results do %>
  <li id="search_result_<%= result['place_id'] %>">
    <%= result['display_name'] %>
  </li>
<% end %>
</ul>
