<div id="lhp">
  <form class="pull-left">
    <button class="close">&times;</button>
    <input name="search0" type="text" class="search-from" placeholder="Type in location" data-provide="typeahead" />
    <input type="text" class="search-to" placeholder="Type in location" data-provide="typeahead" />
    <i class="icon-plus" style="cursor:pointer;"></i>
  </form>
  <div> Search results: </div>
  <ul>
    <li>
      !!!!!!!!!!!!!!!!!!!
    </li>
  </ul>
</div>

<div id="map"></div>
