<!DOCTYPE html>
<html>
  <head>
    <title>DemeeMaps</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "lib/require", "data-main" => javascript_path("main.js") %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="navbar" class="navbar">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
          <a class="brand" href="/">
            <strong>DemeeMaps v0.2</strong>
          </a>
        </div>
      </div>
    </div>

    <div id="lhp">
      <div id="lhp-content">
        <form class="pull-left">
          <div class="add-destination">
            <i class="icon-plus icon-white" style="cursor:pointer;"></i>
            &nbsp;Add destination
          </div>
        </form>

        <button id="main-search-button" class="btn btn-primary">Get Map</button>

        <div id="search-results">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="map"></div>
  </body>
</html>
