<!DOCTYPE html>
<html>
	<head>
		<title>MQLite</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="/Leaflet/dist/leaflet.css"/>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet/less" type="text/css" href="style.less">
		<script src="/less-1.3.0.min.js"></script>
		<%= stylesheet_link_tag  "application", :media => "all" %>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#home"> Demee's Maps </a>
					<ul class="nav">						
						<li>
							<div class="btn-group">
								<a id="btn-search" class="btn" href="#"><i class="icon-search"></i> Search</a>
								<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" class="link-search"><i class="icon-search"></i> Search</a></li>
									<li><a href="#" class="link-directions"><i class="icon-road"></i> Directions</a></li>									
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i>Search on current Map</a></li>
								</ul>
					        </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<%= yield %>
		
		<script src="yui/build/yui/yui-min.js"></script>
		<script src="jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.js"></script>
		<script src="Leaflet/dist/leaflet.js"></script>
		<script src="main.js"></script>
		<%= javascript_include_tag "application" %>
	</body>
</html>